

<form action="/sessions/create" method="post">
	<ul>
	<label for="name">Name</label>
	<input type="text" name="name" id="name">

	<label for="email">Email</label>
	<input type="text" name="email" id="email">

	<label for="birthday">Birthday</label>
	<input type="day" name="birthday" id="birthday">

	<label for="password">Password</label>
	<input type="text" name="password" id="password">
	<button type="submit">Sign Up</button>

	
	</ul>
</form>